<div id="save-the-date-mobile">
  <div id="welcome">
    <%= @current_guest.full_name %>,<br/><br/>
    It took forever, but we finally have a date for our wedding!  We'll add more details as they come, but please save this date.  We'd love to have you.<br/><br/>
    Though a formal invitation will be sent when we have more details, please let us know if you already know whether you can or can't make it.  We hope to see you there!
  </div>
  <img src="https://i.imgur.com/WRTq1yS.png" />
</div>
<div id="save-the-date-browser">
  <div id="welcome">
    <%= @current_guest.full_name %>,<br/><br/>
    It took forever, but we finally have a date for our wedding!  We'll add more details as they come, but please save this date.  We'd love to have you.<br/><br/>
    Though a formal invitation will be sent when we have more details, please let us know if you already know whether you can or can't make it.  We hope to see you there!
  </div>
  <img src="https://i.imgur.com/06BUt1H.png" />
</div>
