@media (min-width: 480px) and (max-width: 1024px) {
    #save-the-date-mobile {
        display: none;
    }

    #save-the-date-browser {
        display: block;
        width: 100%;
    }

    #save-the-date-browser img {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    #save-the-date-mobile {
        display: none;
    }

    #save-the-date-browser {
        display: block;
        width: 1024px;
        margin: 0 auto;
    }

    #save-the-date-browser img {
        width: 100%;
    }
}
