html {
    background: url("https://i.imgur.com/32KjcPP.jpg") repeat;
}


html, body {
    margin: 0;
}

#not-invited {
    max-width: 1024px;
    margin: 20px auto;
    text-align: center;
    background-color: #ffffff;
    padding: 20px 20px;

}

#save-the-date-mobile {
    background-color: #ffffff;
}

#save-the-date-browser {
    background-color: #ffffff;
}

#footer {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
}
